$rtl: false !default;

$content-heading-color: 700 !default;
$content-heading-weight: 600 !default;
$content-heading-line-height: 1.125 !default;

$content-block-margin-bottom: 1em !default;

$content-blockquote-background-color: #000 !default;
$content-blockquote-border-left: 5px solid #000 !default;
$content-blockquote-padding: 1.25em 1.5em !default;
